:root {
    --primary-orange: #f05a28;
    --table-bg: rgb(199, 199, 199);
    --table-alt-row-color: #ffffff40;
    --white: #ffffff;
    --body-bg: #faebd712;

    --font-primary: 'Courier New', Courier, monospace
  }

body {
    background-color: rgb(43, 43, 43);
    color: var(--white);
    font-family: var(--font-primary);
}

#saveStashTable {
    background-color: var(--table-bg);
    color: black;
}

#saveStashTable thead {
    background-color: var(--primary-orange);
    color: white;
    font-weight: bold;
}

#saveStashTable tr:nth-child(even) {
    background-color: var(--table-alt-row-color);
}

.dt-container.dt-paging.dt-paging-button.disabled {
    color:white !important;
}

#header-title {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    color: var(--primary-orange);
}

#header-title span {
    display: flex;
}

#body-section {
    width: 80%;
    margin: auto;
    background-color: var(--body-bg);
    padding: 10px;
}

.save-file-link {
    color: var(--primary-orange);
}

.save-file-link > img:hover {
    filter: brightness(1.4);
    cursor: pointer;
    background-color: #d7d7d730;
}

#page-description {
    width: 60%;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
}

#footer-section {
    margin:auto;
    margin-top: 30px;
    width: 60%;
    background-color: var(--body-bg);
    padding:10px;
}

#footer-section p {
    text-align: center;
}

#footer-section a {
    color: var(--primary-orange);
}

#chart-section {
    width: 60%;
    margin:auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#chart-section span {
    background-color: var(--primary-orange);
    padding: 5px 10px;
    border: 4px solid #bb3300;
    font-weight: bold;
}

#chart-section span:hover {
    filter: brightness(1.2);
    cursor: context-menu;
}

div.dt-container .dt-input {
    background-color: #313131;
    font-family: var(--font-primary) !important;
}

.dt-paging-button {
    background-color: #f05a28 !important;
    font-family: var(--font-primary) !important;
    border: 3px solid orangered !important;
}
.dt-paging-button:hover {
    /* background-color: #f05a28 !important; */
    filter: brightness(1.3) !important;
    background: none !important;
}

.dt-paging-button.disabled {
    background-color: gray !important;
    border: 3px solid rgb(70, 70, 70) !important;
}
.dt-paging-button.disabled:hover {
    background-color: gray !important;
    filter: brightness(1.0) !important;
}

.dt-paging-button.current {
    background-color: rgb(43, 43, 43) !important;
    filter: brightness(1.4) !important;
}
.dt-paging-button.current:hover {
    background-color: rgb(43, 43, 43) !important;
    filter: brightness(1.8) !important;
}

